#menu-bar {
	display: none;
}



}
.menu {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(51,51,51,0.9);

	
}

.menu a {
	
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	
}


@media (min-width: 1024px) {
	.menu {
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;

	}
	.menu a {
		border: none;
	}
	header label {
		display: none;
	}
}

